:root {
  --poster-blur: 5px;
  --theme-bg-light: #f8f9fa;
  --theme-text-color: black;
  --theme-bg-info: #0dcaf0;
}

/* ------------------------------------------------------ Theme */

*:not(.button):not(select):not(input) {
  color: var(--theme-text-color) !important;
}

.bg-light {
  background-color: var(--theme-bg-light) !important;
}
.bg-info {
  background-color: var(--theme-bg-info) !important;
}

/* ------------------------------------------------------ Theme */

.App {
  font-family: sans-serif;
  text-align: center;
}

.poster {
  filter: blur(var(--poster-blur));
}

.toggle-containter {
  margin-left: 2%;
}

.game-answer {
  flex: 48%;
  margin: 1%;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #00ffb3;
  border-color: #00ffb3 transparent #00ffb3 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
